<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings file="app.secrets.config">
    <add key="MsftUri" value="https://westus.api.cognitive.microsoft.com/vision/v1.0/ocr?"/>
    <add key="MssftApiHeader" value="Ocp-Apim-Subscription-Key"/>
    <add key="MsftRequestParams" value="language=en&amp;detectOrientation=true"/>
    <add key="OpenAlprUri" value="https://westus.api.cognitive.microsoft.com/vision/v1.0/ocr?"/>
    <add key="DebugImageFilePath" value="https://images.craigslist.org/00g0g_1sAPjQgKeAo_1200x900.jpg"/>
  </appSettings>
</configuration>
